<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>favorite</title>
</head>
<body>
    <header>
        <h1>
            my favorite news 
        </h1>
    </header>

<main>

    <div class="allContainer">
    
        <%data.forEach(val=>{%>
    
    <div class="container">
    
        <h2><%=val.title%></h2>
        <h3><%=val.author%></h3>
        <img src="<%=val.image%>" alt="">
        <p><%=val.description%></p>
    

    <a href="/details/<%=val.id%>"><button >Show details</button></a>
    
      
    
    </div>
    
    
        <%})%>
    
    </div>
        </main>



    </body>


</html>